body {
	font:inherit;
}

.head1 {
	width: 100%;
	background-color: #ffffff;
	margin:0px;
	margin-top: 5px;
	padding: 0px;
	position: relative;
	height:80px;
	color: red;


}

.logo_image {
	float: left;
	display: inline;
}

.navigation {
	list-style: none;
	
	margin: 0px;
	display: inline-block;
	width: 600px;
	float:left;
	padding:0;
	font-size: 14px;
}

.navigation li {
	width: 33%;
	float:left;
	padding:0;
	margin:0;
	text-align: center;
	margin-top: 30px;

}

.head2 {
	width: 100%;
	height: 30px;
	background-color: #000000;
	color:white;
}

.head3 {
	width: 100%;
	height: 30px;
	background-color: #333333;
}

.head_image {
	position: relative;
	width: 100%;
	height: 500px;
	background-image : url(./image/con_image/back.jpg);
	background-size: cover;
}

.sns_button {
	margin: 30px;
	position: absolute;
	bottom: 20px;

}


.sentence_body {
	margin: 70px;
	

	background-color: #f3f3f3; 
	letter-spacing: 1px;
	font-size: 25px;
}


.title_sentence {
	position: absolute;
	color: white;
	font-size: 45px;
	width: 80%;
	bottom: 90px;
	margin-right: 80px;
	margin-left: 80px;
	text-align: left;
}

body {
	margin: 0px;
}